<section class="forecast">
  <div class="row">
    <div class="col-md-12">
      <h1>Your personal list</h1>
      <p class="lead">It`s your personal list with cities that you have added before.</p>
      <p>When you click on each city, on the right you will see the weather forecast for 4 days.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9 city-card">
        <h2>Your travel cities</h2>
        <div class="row">
          <div ng-repeat="city in weatherDataLS.list">
            <a href ng-click="chooseCity(city.id)">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="card" id="{{city.id}}" ng-class="changeColour(city.weather[0].icon, city.id)">
                <div class="top">
                  <p class="temp-now">{{kelvinToCelcius(city.main.temp)}}<span>&nbsp;&deg;C</span><span class="icon big">{{showIcon(city.weather[0].icon)}}</span></p>
                  <h3>{{city.name}}</h3>
                  <p class="weather-now">{{ city.weather[0].description }}</p>
                  <p class="highlow">&#x25B2; {{kelvinToCelcius(city.main.temp_max)}}&nbsp;&deg;C / &#x25BC; {{kelvinToCelcius(city.main.temp_min)}}&nbsp;&deg;C</p>
                </div>
                <div class="middle">
                  <div class="left">
                    <span class="icon">F</span>
                    <p>Wind speed: <span class="info">{{ city.wind.speed }} m/s</span></p>
                    <p>Humidity: <span class="info">{{ city.main.humidity }}%</span></p>
                  </div>
                  <div class="right">
                    <span class="icon">A</span>
                    <p>Sunrise: <span class="info">{{ city.sys.sunrise * 1000 | date : 'shortTime' }}</span></p>
                    <p>Sunset: <span class="info">{{ city.sys.sunset * 1000 | date : 'shortTime' }}</span></p>
                  </div>
                  <span class="heart" ng-click="favourite(city.id)">&#10084;</span>
                </div>
              </div>
            </div>
          </a>
        </div>
        </div>
      </div>

      <div class="col-md-3">
        <h2>{{headingForecast}}</h2>
        <div class="heading-forecast">
          <h3>{{searchData.city.name}}</h3>
          <a href ng-click="closeCity()">{{close}}</a>
        </div>
        <div  ng-repeat="day in searchDataDays | limitTo: 4">
          <div class="card card-daily" ng-class="changeColour(day.weather[0].icon)">
            <div class="top">
              <p class="date">{{day.dt * 1000| date:'fullDate'}}</p>
              <p class="temp-now">{{round(day.temp.day)}}<span>&nbsp;&deg;C</span><span class="icon big">{{showIcon(day.weather[0].icon)}}</span></p>
              <p class="highlow">&#x25B2; {{round(day.temp.max)}}&nbsp;&deg;C / &#x25BC; {{round(day.temp.min)}}&nbsp;&deg;C</p>
              <p class="weather-now">{{ day.weather[0].description }}</p>
            </div>
            <div class="middle">
              <p>Wind speed: <span class="info">{{ day.speed }} m/s</span></p>
              <p>Humidity: <span class="info">{{ day.humidity }}%</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
